*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/docs/SpaceWarDoc.toc
/docs/SpaceWarDoc.aux
/docs/SpaceWarDoc.lot
/docs/SpaceWarDoc.out
/docs/SpaceWarDoc.pdf
/docs/SpaceWarDoc.log
/docs/SpaceWarDoc.lof
/docs/SpaceWarDoc.bcf
/docs/SpaceWarDoc.run.xml
/docs/SpaceWarDoc.bbl
/docs/SpaceWarDoc.blg
/docs/SpaceWarDoc.tex.bbl
/docs/SpaceWarDoc.tex.blg
